<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuneault.netrunnerdeckbuilder"
    android:versionCode="23"
    android:versionName="1.321" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shuneault.netrunnerdeckbuilder.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shuneault.netrunnerdeckbuilder.DeckActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/deck_name" >
        </activity>
        <activity
            android:name="com.shuneault.netrunnerdeckbuilder.SettingsActivity"
            android:label="@string/menu_options" >
        </activity>
        <activity
            android:name="com.shuneault.netrunnerdeckbuilder.ChooseIdentityActivity"
            android:label="@string/title_activity_choose_identity" >
        </activity>
        <activity
            android:name="com.shuneault.netrunnerdeckbuilder.ViewDeckFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_deck_fullscreen" >
        </activity>
        <activity
            android:name="com.shuneault.netrunnerdeckbuilder.externalactivities.ImportOCTGNActivity"
            android:label="@string/title_activity_import_octgn" >

            <!-- File o8d -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.o8d" />
            </intent-filter>

            <!-- File o8d -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.o8d"
                    android:scheme="file" />
            </intent-filter>

            <!-- o8d from the web -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="netrunnerdb.com"
                    android:pathPrefix="/decklist/export/octgn"
                    android:scheme="http" />
                <data
                    android:host="netrunner.meteor.com"
                    android:pathPrefix="/deckexport/octgn"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>
